body {
    margin: 0 auto;
}
.main{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

}
.main img{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
     
}
@-webkit-keyframes blink{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes blink{
     0% {
    opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes blink{
    0% {
    opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }    
}
@-o-keyframes blink{
    0% {
    opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.clock_yellow img, .clock_blue img {
    width: 34%;
    height: auto;
    position: absolute;
    top: 6%;
    left: 33%;
    display: block;
     
}

.clock_blue img{
    animation: 1.2s linear 0.5s infinite blink;
}

.clock_yes img, .clock_no img{
    width: 17%;
    height: auto;
    position: absolute;
    display: none;
}
.clock_yes img{
    top: 6%;
    left: 33%;
}
.clock_no img{
    top: 6%;
    left: 50%;
}

.cover{
    width: 102%;
    height: 78%;
    position: absolute;
    left: -1%;
    top: 0%;
    display: -webkit-inline-box;
}
.mancover{
    background-color: #2bb7c9;
    width: 50%;
    height: 1200px;
    opacity: 0.4;
}
.girlcover{
    background-color: #fdd727;
    width: 50%;
    height: 1200px;
    opacity: 0.4;
}

.yes_cover{
    width: 18%;
    height: 54%;
    border-radius: 100% 0 0 100%/50%;
    background-color: red;
    margin: -59% 0% 0% 32%;
    position: absolute;
    opacity: 0;
}
.no_cover{
    width: 17%;
    height: 54%;
    border-radius: 0% 200% 200% 0%/100%;
    background-color: red;
    margin: -59% 0% 0% 50%;
    position: absolute;
    opacity: 0;
}
.mainWord{
    text-align: center;
    font-weight: 900;
    font-size: 3vh;
    margin: -25% 0% 0% 37.5%;
    position: absolute;
}
.mainWord p{
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    color: white;
}

@-webkit-keyframes move{
    from {margin-top: 30%;}
    to {margin-top: 0%;}
}
@-moz-keyframes move{
    from {margin-top: 30%;}
    to {margin-top: 0%;}
}
@-ms-keyframes move{
    from {margin-top: 30%;}
    to {margin-top: 0%;}
}
@-o-keyframes move{
    from {margin-top: 30%;}
    to {margin-top: 0%;}
}

.restPage{
    background-image: url(img/yes_bg_02.jpg);
    background-position: center;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment:fixed;
    animation: 1 1s linear move;
    display: none;
    
}

.suitcase{
    background-image: url(img/yes_bg_01.jpg);
    width: 100%;
    height: 1030px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 1300px;
     
}

.tag_rsc{
    background: no-repeat center center;
    width: 1049px;
    min-width: 1300px;
    min-height: 961px;
    position: absolute;
    top: 196px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
.adVideo iframe{
    position: absolute;
    margin: -9% 0 0 66%;
}
.rsc1, .rsc2, .rsc3, .rsc4, .rsc5, .rsc6 {
    background-image: url(img/plus_b.png);
    background-repeat: no-repeat;
    width: 137px;
    height: 33px;
    position: absolute;

} 

.rsc1_1, .rsc2_1, .rsc3_1, .rsc4_1, .rsc5_1, .rsc6_1 {
    background-image: url(img/frame.png);
    background-repeat: no-repeat;
    width: 17%;
    height: 300px;
    position: absolute;
    display: none;
    pointer-events: none;
} 
.rsc1{
    margin: 9% 0 0 29%;
}
.rsc1_1{
    margin: -1% 0 0 28%;
}
.rsc2{
    margin: 27% 0 0 36%;
}
.rsc2_1{
    margin: 17% 0 0 35%;
}
.rsc3{
    margin: 16% 0 0 48%;
}
.rsc3_1{
    margin: 6% 0 0 47%;
}
.rsc4{
    margin: 20% 0 0 75%;
}
.rsc4_1{
    margin: 10% 0 0 74%;
}    
.rsc5{
    margin: 39% 0 0 69%;
}
.rsc5_1{
    margin: 29% 0 0 68%;
}
.rsc6{
    margin: 33% 0 0 49%;
}
.rsc6_1{
    margin: 23% 0 0 48%;
}
.rsc1_1 p, .rsc2_1 p, .rsc2_1 p, .rsc3_1 p, .rsc4_1 p, .rsc5_1 p, .rsc6_1 p{
    margin: 19% 0 0 24%;
}




.tips {   
    background-image: url(img/yes_topic02.png);
    background-color: rgba(107, 214, 255, 0.45);
    width: 131%;
    height: 413px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 0 -16%;
     
}
.clothes{
    background-image: url(img/yes_bg_03.jpg);
    width: 100%;
    height: 672px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.manager{
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: 50% -430%;
    width: 165px;
    height: 165px;
    border-radius: 999em;
    background-color: white;
    position: absolute;
    margin: 48% 0 0 22%;
    border: 6px solid #b4eaff;
    -webkit-transition:background-position .5s ease-in;
    -moz-transition:background-position .5s ease-in;
    -0-transition:background-position .5s ease-in;
     
}
 
.picnic{
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: 50% -430%;
    width: 165px;
    height: 165px;
    border-radius: 999em;
    background-color: white;
    position: absolute;
    margin: 48% 0 0 52%;
    border: 6px solid #b4eaff;
    -webkit-transition:background-position .5s ease-in;
    -moz-transition:background-position .5s ease-in;
    -0-transition:background-position .5s ease-in; 

}
.orange{
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: 50% -430%;
    width: 165px;
    height: 165px;
    border-radius: 999em;
    background-color: white;
    position: absolute;
    margin: 48% 0 0 37%;
    border: 6px solid #b4eaff;
    -webkit-transition:background-position .5s ease-in;
    -moz-transition:background-position .5s ease-in;
    -0-transition:background-position .5s ease-in;
}
.camera{
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: 50% -430%;
    width: 165px;
    height: 165px;
    border-radius: 999em;
    background-color: white;
    position: absolute;
    margin: 48% 0 0 67%;
    border: 6px solid #b4eaff;
    -webkit-transition:background-position .5s ease-in;
    -moz-transition:background-position .5s ease-in;
    -0-transition:background-position .5s ease-in;
}

.manager:hover, .picnic:hover, .orange:hover, .camera:hover{
    background-position : 50% 85%;
    
}
.btn div{
    position: fixed;
    width: 81px;
    height: 81px;
}
 
.btn1{
    background: url(img/yes_tab_01_1.png);
    background-repeat: no-repeat;
    top: 5%;
    left: 90%;
}
.btn1_1{
    background: url(img/yes_tab_01.png);
    background-repeat: no-repeat;
    top: 5%;
    left: 90%;
}
.btn1_1:hover, .btn2_2:hover, .btn3_3:hover , .btn4_4:hover{
    opacity: 0;
}
.btn2 {
    background: url(img/yes_tab_02_1.png);
    background-repeat: no-repeat;
    top: 17%;
    left: 90%;
}
.btn2_2 {
    background: url(img/yes_tab_02.png);
    background-repeat: no-repeat;
    top: 17%;
    left: 90%;
}
.btn3 {
    background: url(img/yes_tab_03_1.png);
    background-repeat: no-repeat;
    top: 29%;
    left: 90%;
}
.btn3_3 {
    background: url(img/yes_tab_03.png);
    background-repeat: no-repeat;
    top: 29%;
    left: 90%;
}
.btn4 {
    background: url(img/yes_tab_04_1.png);
    background-repeat: no-repeat;
    top: 41%;
    left: 90%;
}
.btn4_4 {
    background: url(img/yes_tab_04.png);
    background-repeat: no-repeat;
    top: 41%;
    left: 90%;
}
.contain {
    width: 600px;
    height: 590px;
    background-color: white;
    position: absolute;
    top: 1493px;
    left: 6px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.shoes_viewpo{
    width: 288px;
    height: 560px;
    background-color: rgba(222, 222, 239, 0.28);
    margin: 2% 0 0 2%;
    position: absolute;
}
.clothes_viewpo{
    width: 292px;
    height: 560px;
    background-color: rgba(222, 222, 239, 0.28);
    margin: 2% 0 0 50%;
    position: absolute;
}
.shoes {
    margin: -3.5% 0 0 -24%;
    position: absolute;
}
.shoes div, .clothes_item div{
    margin-top: 24%;
}
.clothes_item {
    margin: -3.5% 0 0 108%;
    position: absolute;
}

.shoes img, .clothes_item img{
    width: 95px;
    height: 95px;
    opacity: 0.6;
}
#shoes1 img:hover, #shoes2 img:hover, #shoes3 img:hover, #shoes4 img:hover, #shoes5 img:hover, #clothes_item1 img:hover, #clothes_item2 img:hover, #clothes_item3 img:hover, #clothes_item4 img:hover, #clothes_item5 img:hover{
    opacity: 1;
}
.shoes_viewpo img{
    margin: -11% 0 0 20%;
}
.clothes_viewpo img{
    margin: -6% 0 0 -22%; 

}
.active img {
    opacity: 1;
}
.tag div, .tag2 div, .tag3 div{
    background-image: url(img/plus_b.png);
    background-repeat: no-repeat;
    width: 137px;
    height: 33px;
    position: absolute;
    margin: 25% 0 0 33%;
    padding: 0 5% 0 0%;
}
.tag img{
    margin: -79% 0 0 -9%;
    position: absolute;
    display: none;
}
.sc1 p{
    margin: -52% 0 0 10%;
    position: absolute;
    display: none;
}
.tag2{
    margin: 22% 0 0 74%;
    position: absolute;
     
}
.sc2 img{
    margin: -95% 0 0 -10%;
    position: absolute;
    display: none;

}
.sc2 p{
    margin: -62% 0 0 19%;
    position: absolute;
    width: 300px;
    display: none;
}
.tag3{
    margin: 63% 0% 0% 77%;
    position: absolute;
}
.sc3 img{
    position: absolute;
    margin: -96% 0 0 -116%;
    display: none;
}
.sc3 p{
    margin: -63% 0 0 -86%;
    position: absolute;
    width: 300px;
    display: none;
    text-align: left;

}

.workPage{
    background-image: url(img/no_bg_02.jpg);
    background-position: 50% 68%;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment:fixed;
    animation: 1 1s linear move;
    display: none;
     
}
.office{
    background: url(img/no_bg_01.jpg) no-repeat center center;
    min-width: 1300px;
    height: 1166px;
    width: 100%;
    
     
     
}

.office_tips {   
    background-image: url(img/no_topic02.png);
    background-color:  rgba(255, 203, 107, 0.45);
    width: 138%;
    height: 413px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 0 -18%;
     
}
.office_tag{
    background: no-repeat center center;
    width: 1049px;
    min-width: 1300px;
    min-height: 961px;
    position: absolute;
    top: 196px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
     
}


.table{
    background-image: url(img/no_bg_03.jpg);
    width: 100%;
    height: 834px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.office_adVideo iframe{
    position: absolute;
    margin: 53% 0 0 61%;
}
.office_adVideo2 iframe{
    position: absolute;
    margin: 1% 0 0 12%;
}
.office_btn div{
    position: fixed;
    width: 81px;
    height: 81px;
}
 
.office_btn1{
    background: url(img/no_tab_01_1.png);
    background-repeat: no-repeat;
    top: 5%;
    left: 90%;
}
.office_btn1_1{
    background: url(img/no_tab_01.png);
    background-repeat: no-repeat;
    top: 5%;
    left: 90%;
}
.office_btn1_1:hover, .office_btn2_2:hover, .office_btn3_3:hover , .office_btn4_4:hover{
    opacity: 0;
}
.office_btn2 {
    background: url(img/no_tab_02_1.png);
    background-repeat: no-repeat;
    top: 17%;
    left: 90%;
}
.office_btn2_2 {
    background: url(img/no_tab_02.png);
    background-repeat: no-repeat;
    top: 17%;
    left: 90%;
}
.office_btn3 {
    background: url(img/no_tab_03_1.png);
    background-repeat: no-repeat;
    top: 29%;
    left: 90%;
}
.office_btn3_3 {
    background: url(img/no_tab_03.png);
    background-repeat: no-repeat;
    top: 29%;
    left: 90%;
}
.office_btn4 {
    background: url(img/no_tab_04_1.png);
    background-repeat: no-repeat;
    top: 41%;
    left: 90%;
}
.office_btn4_4 {
    background: url(img/no_tab_04.png);
    background-repeat: no-repeat;
    top: 41%;
    left: 90%;
}
.toy1, .toy2, .toy3, .toy4, .toy5 {
    background-image: url(img/plus_b.png);
    background-repeat: no-repeat;
    width: 137px;
    height: 33px;
    position: absolute;

} 
.toy1_1, .toy2_1, .toy3_1, .toy4_1, .toy5_1 {
    background-image: url(img/frame.png);
    background-repeat: no-repeat;
    width: 16%;
    height: 300px;
    position: absolute;
    display: none;
    pointer-events: none;
} 
.toy1{
    top: 233px;
    left: 666px;
}
.toy1_1{
    margin: 8% 0 0 50%;
}
.toy2{
    top: 485px;
    left: 402px;
}
.toy2_1{
    margin: 27% 0 0 30%;
}
.toy3{
    top: 740px;
    left: 406px;
}
.toy3_1{
    margin: 46% 0 0 30%;
}
.toy4{
    top: 458px;
    left: 837px;
}
.toy4_1{
    margin: 25% 0 0 63%;
}    
.toy5{
    top: 782px;
    left: 687px;
}
.toy5_1{
    margin: 50% 0 0 52%;
}
.toy1_1 p, .toy2_1 p, .toy2_1 p, .toy3_1 p, .toy4_1 p, .toy5_1 p {
    margin: 19% 0 0 17%;
}

.desk{
    background: url(img/bg1.png) no-repeat center center;
    width: 1300px;
    height: 857px;
    min-width: 1300px;
    min-height: 857px;
    position: absolute;
    top: 1558px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: none;
}

@-webkit-keyframes alien{
    from {margin: -4% 0 0 1%;}
    to {margin: 0% 0 0 6%;}
}
@-moz-keyframes alien{
    from {margin: -4% 0 0 1%;}
    to {margin: 0% 0 0 6%;}
}
@-ms-keyframes alien{
    from {margin: -4% 0 0 1%;}
    to {margin: 0% 0 0 6%;}
}
@-o-keyframes alien{
    from {margin: -4% 0 0 1%;}
    to {margin: 0% 0 0 6%;}
}


.desk_item1{
    background-image: url(img/office/alien.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 0% 0 0 6%;
    animation: none;
}

@-webkit-keyframes apple{
    from {margin: 49% 0 0 63%;}
    to {margin: 43% 0 0 59%}
}
@-moz-keyframes apple{
    from {margin: 49% 0 0 63%;}
    to {margin: 43% 0 0 59%}
}
@-ms-keyframes apple{
    from {margin: 49% 0 0 63%;}
    to {margin: 43% 0 0 59%}
}
@-o-keyframes apple{
    from {margin: 49% 0 0 63%;}
    to {margin: 43% 0 0 59%}
}

.desk_item2{
    background-image: url(img/office/apple.png);
    width: 300px;
    height: 295px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 43% 0 0 59%;
    animation: none;
}

@-webkit-keyframes car{
    from {margin: 37% 0 0 61%;}
    to {margin: 31% 0 0 58%;}
}
@-moz-keyframes car{
    from {margin: 37% 0 0 61%;}
    to {margin: 31% 0 0 58%;}
}
@-ms-keyframes car{
    from {margin: 37% 0 0 61%;}
    to {margin: 31% 0 0 58%;}
}
@-o-keyframes car{
    from {margin: 37% 0 0 61%;}
    to {margin: 31% 0 0 58%;}
}

.desk_item3{
    background-image: url(img/office/car.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 31% 0 0 58%;
    animation: none;
}

@-webkit-keyframes coffee{
    from {margin: 37% 0 0 80%;}
    to {margin: 21% 0 0 76%}
}
@-moz-keyframes coffee{
    from {margin: 37% 0 0 80%;}
    to {margin: 21% 0 0 76%}
}
@-ms-keyframes coffee{
    from {margin: 37% 0 0 80%;}
    to {margin: 21% 0 0 76%}
}
@-o-keyframes coffee{
    from {margin: 37% 0 0 80%;}
    to {margin: 21% 0 0 76%}
}

.desk_item4{
    background-image: url(img/office/coffee.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 21% 0 0 76%;
    animation: none;

}

@-webkit-keyframes fish{
    from {margin: -20% 0 0 78%;}
    to {margin: -3% 0 0 68%;}
}
@-moz-keyframes fish{
    from {margin: -20% 0 0 78%;}
    to {margin: -3% 0 0 68%;}
}
@-ms-keyframes fish{
    from {margin: -20% 0 0 78%;}
    to {margin: -3% 0 0 68%;}
}
@-o-keyframes fish{
    from {margin: -20% 0 0 78%;}
    to {margin: -3% 0 0 68%;}
}

.desk_item5{
    background-image: url(img/office/fish.png);
    width: 396px;
    height: 410px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: -3% 0 0 68%;
    animation: none;

}

@-webkit-keyframes Glasses{
    from {margin: 28% 0 0 80%;}
    to {margin: 30% 0 0 71%}
}
@-moz-keyframes Glasses{
    from {margin: 28% 0 0 80%;}
    to {margin: 30% 0 0 71%}
}
@-ms-keyframes Glasses{
    from {margin: 28% 0 0 80%;}
    to {margin: 30% 0 0 71%}
}
@-o-keyframes Glasses{
    from {margin: 28% 0 0 80%;}
    to {margin: 30% 0 0 71%}
}

.desk_item6{
    background-image: url(img/office/Glasses.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 30% 0 0 71%;
    animation: none;
}

@-webkit-keyframes letter{
    from {margin: 7% 0 0 -6%;}
    to {margin: 14% 0 0 8%;}
}
@-moz-keyframes letter{
    from {margin: 7% 0 0 -6%;}
    to {margin: 14% 0 0 8%;}
}
@-ms-keyframes letter{
    from {margin: 7% 0 0 -6%;}
    to {margin: 14% 0 0 8%;}
}
@-o-keyframes letter{
    from {margin: 7% 0 0 -6%;}
    to {margin: 14% 0 0 8%;}
}

.desk_item7{
    background-image: url(img/office/letter.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 14% 0 0 8%;
    animation: none;

}

@-webkit-keyframes note{
    from {margin: 50% 0 0 29%;}
    to {margin: 36% 0 0 29%;}
}
@-moz-keyframes note{
    from {margin: 50% 0 0 29%;}
    to {margin: 36% 0 0 29%;}
}
@-ms-keyframes note{
    from {margin: 50% 0 0 29%;}
    to {margin: 36% 0 0 29%;}
}
@-o-keyframes note{
    from {margin: 50% 0 0 29%;}
    to {margin: 36% 0 0 29%;}
}

.desk_item8{
    background-image: url(img/office/note.png);
    width: 530px;
    height: 361px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 36% 0 0 29%;
    animation: none;
}

@-webkit-keyframes notebook{
    from {margin: -19% 0 0 27%;}
    to {margin: 3% 0 0 27%;}
}
@-moz-keyframes notebook{
    from {margin: -19% 0 0 27%;}
    to {margin: 3% 0 0 27%;}
}
@-ms-keyframes notebook{
    from {margin: -19% 0 0 27%;}
    to {margin: 3% 0 0 27%;}
}
@-o-keyframes notebook{
    from {margin: -19% 0 0 27%;}
    to {margin: 3% 0 0 27%;}
}

.desk_item9{
    background-image: url(img/office/notebook.png);
    width: 568px;
    height: 390px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 3% 0 0 27%;
    animation: none;
}

@-webkit-keyframes phone{
    from {margin: 53% 0 0 1%;}
    to {margin: 31% 0 0 7%;}
}
@-moz-keyframes phone{
    from {margin: 53% 0 0 1%;}
    to {margin: 31% 0 0 7%;}
}
@-ms-keyframes phone{
    from {margin: 53% 0 0 1%;}
    to {margin: 31% 0 0 7%;}
}
@-o-keyframes phone{
    from {margin: 53% 0 0 1%;}
    to {margin: 31% 0 0 7%;}
}

.desk_item10{
    background-image: url(img/office/phone.png);
    width: 308px;
    height: 355px;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    position: absolute;
    margin: 31% 0 0 7%;
    animation: none;

}